[submodule "account-service"]
    path = services/account-service
    url = https://github.com/FritsvanLieshout/account-service.git

[submodule "tweet-service"]
    path = services/tweet-service
    url = https://github.com/FritsvanLieshout/tweet-service.git